.container {
    padding-top: 20px;
}
.todo-list {
    padding-left: 0;
}
.todo-list li { 
    list-style: none;
}
.delete {
    cursor: pointer;
}
.completed {
    background-color: green !important;
}
.completed .todo-content {
    text-decoration: line-through;
}
.input-wrapper {
    width: calc(100% - 100px);
}
.todo-item {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
        'content modifiers'
        'edit edit';
    grid-row-gap: 10px;
    align-items: center;
}
.todo-content {
    word-break: break-word;
    padding-right: 20px;
    grid-area: content;
}
.todo-modifier {
    justify-self: flex-end;
    display: flex;
    flex-flow: row nowrap;
    grid-area: modifiers;
}
.edit-field {
    grid-area: edit;
}
.ui.button:not(.icon)>.icon:not(.button):not(.dropdown) {
    margin: 0;
}
.todo-list .ui.button {
    padding: 10px;
}